.footerbackground{
    width: 100%;
    height: 280px;
    background-color: #161616;
    padding: 80px;
    z-index: 1;
}

.custom_footer_text{
    font-family: 'Montserrat', sans-serif;
    padding-bottom: 30px;
	letter-spacing: 20px;
	text-align: center;
	font-weight: 900;
    font-size: 58px;
}

.icons{
    z-index: 2;
    margin: -110px;
    overflow: hidden;
}

footer .icons div{
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer .icons i{
    font-size: 16px;
    color: rgb(255, 255, 255);
    cursor: pointer;
}

.footerbottompart{
    height: 40px;
    background-color: #000;
    padding-top: 30px;
    padding-bottom: 50px;
}


@media screen and (max-width: 700px) {
    .custom_footer_text {
        font-family: 'Montserrat', sans-serif;
        padding-bottom: 34px;
        letter-spacing: 6px;
        text-align: center;
        font-weight: 900;
        font-size: 29px;
    }
}
