:root{
	--custom-smooth-red: #d51317;
	--custom-color-orange: #7D0A0A;
	--custom-color-nonactive: #434343;
	--custom-background-color: #fbfbfb;
	--custom-light-Big: #d51317;
	--white-background-color: #fff;
}

.color_red{
	color: var(--custom-smooth-red);
}

.btn-red-custom {
	--bs-btn-color: #fff;
	--bs-btn-bg: var(--custom-smooth-red);
	--bs-btn-border-color: #dc3545;
	--bs-btn-hover-color: #fff;
	--bs-btn-hover-bg: var(--custom-color-orange);
	--bs-btn-hover-border-color: var(--custom-color-orange);
	--bs-btn-focus-shadow-rgb: 225,83,97;
	--bs-btn-active-color: #fff;
	--bs-btn-active-bg: #b02a37;
	--bs-btn-active-border-color: #a52834;
	--bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
	--bs-btn-disabled-color: #fff;
	--bs-btn-disabled-bg: #dc3545;
	--bs-btn-disabled-border-color: #dc3545;
	border-radius: 2px;
}

@font-face {
	font-family: Rockwell;
	src: url(../Fonts/ROCK.TTF);
}

@font-face {
	font-family: RockwellBold;
	src: url(../Fonts/Rockwell-Bold.ttf);
}

*{
	margin: 0;
	padding: 0;

}

body {
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
	font-size: 14px;
	line-height: 22px;
	color: #434343;
	text-shadow: 1px 1px 1px rgba(0,0,0,0.004);
	-webkit-text-size-adjust: 100%;
	background-color: #fbfbfb;
	overflow-x: hidden;
}

h1,h2,h3,h4,h5,h6{
	font-family: 'Rockwell', sans-serif;
}

.section-title h4 {
	padding-bottom: 30px;
	letter-spacing: 2px;
	text-align: center;
	font-weight: 700;
}

.mtfont {
    font-family: 'Rockwell', sans-serif;
}

.logo_text {
    font-size: 32px;
    font-weight: 700;
    line-height: 22px;
	letter-spacing: 2px;
	color: var(--custom-smooth-red);
}

.nav-item.custom{
	position: relative;
	display: inline-block;
	background: url('../images/line.png') 0 14px no-repeat;
	background-size: 15px 10px;
	padding-left: 10px;
	-webkit-transition: all 0.3s ease-out;
	-moz-transition: all 0.3s ease-out;
	-o-transition: all 0.3s ease-out;
	transition: all 0.3s ease-out;
}



.nav-item a{
	display: block;
	color: #111111;
	padding: 10px 0px;
	cursor: pointer;
	margin: 0px 12px;
	font-family: 'Open Sans', sans-serif;
	font-weight: 700;
	text-transform: uppercase;
	letter-spacing: 1px;
	border-bottom: 1px solid rgba(0,0,0,0);
	font-size: 11px;

}

.navbar-collapse {
	flex-basis: 100%;
	flex-grow: 1;
	align-items: flex-end;
	text-align: right;
	margin-top: 10px;
    transition: all 0.3s ease-out;
}

.nav-item a:hover {
	text-decoration: none;
	border-bottom: 1px solid var(--custom-color-orange);
}

.navbar-nav .nav-link.active,
.navbar-nav .nav-link.show {
    color: var(--custom-color-orange);
}

.nav-link:focus,
.nav-link:hover {
    color: var(--custom-color-orange);
}

/* about us */
.section-title h2::before, .section-title h4::before {
	content: '';
	position: absolute;
	width: 50px;
	height: 3px;
	bottom: 0;
	left: 50%;
	margin-left: -25px;
	background-color: var(--custom-color-orange);
}
.section-title h2 {
	padding-bottom: 15px;
	letter-spacing: 2px;
	font-size: 34px;
	line-height: 92px;
	color: var(--custom-light-Big);
	font-family: 'Rockwell', sans-serif;
	font-weight: 700;
	text-align: center;
}

.red_title h2 {
	padding-bottom: 5px;
	letter-spacing: 2px;
	font-size: 34px;
	line-height: 92px;
	color: var(--custom-light-Big);
	font-family: 'Rockwell', sans-serif;
	font-weight: 700;
	text-align: center;
}

.ash_title h2{
	padding-bottom: 5px;
	letter-spacing: 2px;
	font-size: 34px;
	line-height: 92px;
	color: #414141;
	opacity: .7;
	font-family: 'Rockwell', sans-serif;
	font-weight: 700;
	text-align: center;
}

.section-title {
	position: relative;
	width: 100%;
	margin-bottom: 15px;
}
.section-title .shadow-title {
	position: absolute;
	width: 100%;
	left: 0;
	top: 15px;
	color: #414141;
	opacity: .1;
	font-family: 'Rockwell', sans-serif;
	font-size: 60px;
	letter-spacing: -3px;
	font-weight:700;
	text-align: center;
}

.content_section .item{
	color: var(--custom-color-nonactive);
	font-size: 14px;
	margin-top: 30px;
	border-bottom: 1px solid var(--custom-color-nonactive);
	font-family: 'Rockwell', sans-serif;
	margin-left: -10px;
	cursor: pointer;
}

.item.active{
	color: var(--custom-color-orange);
	border-bottom: 1px solid var(--custom-color-orange);
	transition: all 0.3s ease-out;
}

.content_box{
	width: 950px;
	display: none;
}

.content_box.active{
	display: block;
	transition: all 0ms ease 0s;
}

@media only screen and (max-width: 600px) {
    .nav-item.custom{
        background: none;
    }

}

/* our services */
.white_bg{
	background-color: var(--white-background-color);
}

/* contect us */
.form-group label{
	font-family: 'Rockwell', sans-serif;
}

.form-group input, .form-group textarea{
	border: 1px solid var(--custom-smooth-red);
	opacity: 0.8;
	font-size: 14px;
}

.form-control:focus {
	color: var(--bs-body-color);
	background-color: var(--bs-body-bg);
	border-color: var(--custom-color-orange);
	outline: 0;
	box-shadow: 0 0 0 0.25rem rgba(254, 19, 19, 0.25);
  }
