/*----------modified stylesheet for slider drop down css-------------------*/
.top_slider_section {
  z-index: 2;
}

.carousel-caption {
  margin-bottom: 0px;
  margin-right: 0px;
}

.carousel .carousel-item {
  height: 85vh
}

.carousel-item {
  transition-property: transform;
  transition-duration: 1.3s;
  transition-timing-function: ease;
}

.carousel-item img {
  position: absolute;
  object-fit: cover;
  top: 0;
  left: 0;
  min-height: 500px;
  height: 85vh;
  filter: brightness(100%);
}

.carousel-caption {
  position: absolute;
  left: 8rem;
  top: 10em;
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
  color: #414141;
  text-align: left;
}

.carousel-caption.caption_right {
  position: absolute;
  right: 8rem;
  top: 10em;
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
  color: var(--custom-light-Big);
  text-align: right;
}

.carousel-caption h2 {
  font-size: 32px;
}

.hero-text h5 {
  font-size: 60px;
  line-height: 25px;
  color: var(--custom-light-Big);
  font-family: 'Rockwell', sans-serif;
  font-weight: 700;
}

.hero-text h5 span {
  font-size: 120px;
  letter-spacing: -2px;
  color: #d8d8d8;
  font-family: 'RockwellBold', sans-serif;
  font-weight: 700;
}

.hero-text.left p {
  letter-spacing: 2px;
  text-transform: uppercase;
}

.hero-text.left p::before {
  content: '';
  position: absolute;
  /* bottom: 100px; */
  left: 8;
  width: 60px;
  height: 3px;
  z-index: 2;
  background-color: var(--custom-color-orange);
}

.hero-text.right p {
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #414141;
}

.hero-text.right p::before {
  content: '';
  position: absolute;
  /* bottom: 100px; */
  right: 1rem;
  width: 60px;
  height: 3px;
  z-index: 2;
  background-color: var(--custom-color-orange);
}


@media screen and (max-width: 1000px) {
  .hero-text h5 {
    font-size: 50px;
    line-height: 20px;
  }
  .hero-text h5 span {
    letter-spacing: -1px;
    line-height: 70px;
  }
}

@media (max-width:700px) {

  .carousel-caption .hero-text h5 {
    font-size: 1.5rem;
    padding-left: 2px;
    line-height: 10px;
  }

  .hero-text h5 span {
    font-size: 2.5rem;
    letter-spacing: -1px;
  }

  .hero-text p {
    font-size: 10px;
    letter-spacing: 2px;
    text-transform: uppercase;
  }

  .hero-text.right p {
    letter-spacing: 2px;
    padding-left: 20px;
  }

  .carousel-caption {
    position: absolute;
    left: 2rem;
    top: 10em;
    padding-top: 1.25rem;
    padding-bottom: 1.25rem;
    color: #414141;
    text-align: left;
  }

  .carousel-caption.caption_right {
    position: absolute;
    right: 2rem;
    top: 10em;
    padding-top: 1.25rem;
    padding-bottom: 1.25rem;
    color: var(--custom-light-Big);
    text-align: right;
  }

}
